.container {
    min-height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.button-container {
    display: flex;
}

.red-text {
    color: red;
}